<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
      <li><a href="{{ '/archive' | prepend: site.baseurl }}">archive</a></li>
      <li><a target="_blank" title="twitter" href="{{ site.author.twitter }}"><img src="../../assets/twitter.svg"></a></li>
      <li><input type="image" id="image" alt="DARK MODE" src="../../assets/adjust.svg"></li>
    </ul>
  </div>
</nav>
