---
layout: default
---
<div class="post">
  {% assign postable = true %}
  {% for name in site.non_posts %}
    {% if page.title == name %}
      {% assign postable = false %}
    {% endif %}
  {% endfor %}
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  <div class="post-info">

    {% if postable %}
      <span>Written by</span>
      {% if page.author %}
          {{ page.author }}
      {% else %}
          {{ site.author.name }}
      {% endif %}

      {% assign words = content | strip_html | number_of_words %}
      {% assign reading_time = content | strip_html | number_of_words | plus:91 | divided_by:250 %}

      {% if reading_time <= 1 %}
        {% assign reading_time = '1' | append:' min read' %}
      {% else %}
        {% assign reading_time = reading_time | append:' min read' %}
      {% endif %}

      {% if page.date %}
        <br>
        <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time> • {{ reading_time }}
      {% endif %}
    {% endif %}
  </div>

  {% if page.image %}
  <div class="post-hero">
    <!-- AVIF image support -->
    {% if page.image_avif and page.image %}
      <picture>
        <source srcset="{{ page.image_avif }}" type="image/avif">
        <img src="{{ page.image }}">
      </picture>
    {% else %}
      <img src="{{ page.image }}">
    {% endif %}
  </div>
  <br>
  {% endif %}

  {{ content }}

  {% if postable %}
    {% include tweet_share_button.html %} {% include facebook_share_button.html %}
    <hr>
    {% include related.html %}
    {% assign pli_array = pli_list | split: "/a>" %}
    {% if pli_array.size >= 4 %}
      <h3>Related Posts</h3>
      <ul>
      {% for pli in pli_list %}
        {{ pli }}
      {% endfor %}
      </ul>
    {% else %}
      {% include recent.html %}
    {% endif %}
  {% endif %}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>